body {
  background-color: white;
}

h1, h2, h3, p, ul {
  text-align: center;
  font-family: 'Ubuntu', sans-serif, Helvetica; /* google font */
  color: black;
  font-size: 2em;
}

h2 {
  font-size: 1.5em
}

h3 {
  font-size: 1.2em;
}

p, ul, li {
  font-size: 1em;
}

ul {
  list-style-type: none;
  }

/*i {
  margin: 0 auto;
}*/
